.side-bar
  .side-bar__user
    .side-bar__user__name
      .side-bar__user__name__text
      masa
      .side-bar__user__name__icon
      = icon('fas', 'edit')
      = icon('fas', 'cog')
  .side-bar__group-list