*{
  box-sizing: border-box;
}
.wrapper{
  display: flex;
}

.side-bar{
  width: 300px;
  &__user{
    background-color: #253141;
    height: 100px;
    position: relative;
    &__name{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      height: 20px;
      width: 260px;
      display: flex;
      &__text{
      color:#ffffff;
      line-height: 20px;
      font-size: 16px;
      width: 200px;
      }
      &__icon{
      color: #ffffff;
      list-style: none;
      margin-left: 5px;
      }
    }
  }
  &__group-list{
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    &__box{
      color: #ffffff;
      height: 91px;
      padding: 20px;
      &__groupname{
        font-size: 15px;
      }
      &__messege{
        font-size: 11px;
        margin-top: 5px;
      }
    }
  }
}

.chat-main{
  width: calc(100vw - 300px);
  &__group-info{
    background-color:#ffffff ;
    height: 100px;
    border-bottom: 1px solid #eeeeee;
  }
  &__message-list{
    background-color: #fafafa;
    height: calc(100vh - 190px);
  }
  &__message-form{
    background-color: #d2d2d2;
    height: 90px;
  }
}